{% raw %}
    <div class="col-md-8">
      <iframe src="//content.jwplatform.com/players/6gw1oQLu-03q5bzuT.html" width="683" height="330" frameborder="0" scrolling="auto" allowfullscreen></iframe>
   </div>
   <div class="col-md-4">
   <!-- beginning channels div-->
      <div class="table-responsive" style="height: 527px;-webkit-overflow-scrolling: touch;">
          <table id="table-ext-2" class="table table-striped table-bordered table-hover">
             <tbody>
                <tr>                         
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/01.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <h4 class="media-heading">Holly Wallace</h4>
                            <p>Username: holly123</p>
                               <div class="progress progress-striped progress-xs">
                                  <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success progress-50">
                                     <span class="sr-only">80% Complete</span>
                                  </div>
                               </div>lorem</div>
                      </div>
                   </td>
                   
                </tr>
                <tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/03.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">writer</div>
                            <h4 class="media-heading">Alexis Foster</h4>
                            <p>Username: ali89</p>lorem</div>
                      </div>
                   </td>
                   
                </tr>
                <tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr><tr>
                   
                   <td>
                      <div class="media">
                         <a href="#" class="pull-left">
                            <img src="img/user/05.jpg" alt="" class="media-object img-responsive img-circle">
                         </a>
                         <div class="media-body">
                            <div class="pull-right badge baed-info">editor</div>
                            <h4 class="media-heading">Mario Miles</h4>
                            <p>Username: mariomiles</p>lorem1</div>
                      </div>
                   </td>
                   
                </tr>
             </tbody>
          </table>
        </div>
    <!-- end channels div-->
   </div>
<!--    <div class="col-md-8">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
       cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
       proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </div> -->
    <script id='content-wrapper-resource-list-template' type='text/html'>
    <div class="col-md-8">
      <div class="box-placeholder">.col-md-8</div>
   </div>
   <div class="col-md-4">
      <div class="box-placeholder">.col-md-4</div>
   </div>
    // <div class="row">
    //     {{#if resources.length > 1}}
    //     <div class="panel-footer clearfix">
    //         <div class="input-group">
    //             <input type="text" placeholder="Search message .." class="form-control input-sm" value={{ query }}>
    //             <span class="input-group-btn">
    //                 <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i></button>
    //             </span>
    //         </div>
    //     </div>
    //     {{/if}}
    // </div>
    // <div class="row">
    //     <div class="col-xs-4 list-create-item">
    //         {{#if context == 'manager' }}
    //             <a class="btn btn-info btn-lg" href="{{ endpoint }}/new" role="button">New</a>
    //         {{/if }}
    //     </div>
    // </div>
    // <div class="row">
    //     {{#resources }}
    //         {{#if filter(.) }}
    //             {{>partial }}
    //         {{/if }}
    //     {{/resources }}
    // </div>
    // <div class="row">
    //     <div class="col-xs-4 default-in-row-padding">
    //         <div class="pull-left">
    //             Showing {{ fromItem(pages) }} to {{ toItem(pages) }} of {{ pages.count }} entries
    //             {{#if display_show_all }}
    //             (<a href="#" on-click="show-all">Show All</a>)
    //             {{/if }}
    //         </div>
    //     </div>
    //     <div class="col-xs-4 list-pagination-wrapper">
    //         {{#if pages.pages > 1}}
    //         <ul class="pagination">
    //             <li id="datatable1_previous" tabindex="0"
    //                 class="paginate_button previous {{#if !previous(pages) }} disabled {{/if}}">
    //                 <a href="#" on-click="previousPage">Previous</a>
    //             </li>
    //             {{#each pagination(pages)}}
    //             <li tabindex="0" aria-controls="datatable1"
    //                 class="paginate_button {{#if .active }}active{{/if}}">
    //                 <a href="#" on-click="gotoPage:{{.nr}}">{{.nr}}</a>
    //             </li>
    //             {{/each}}
    //             <li id="datatable1_next" tabindex="0" aria-controls="datatable1"
    //                 class="paginate_button next {{#if !next(pages) }} disabled {{/if}}">
    //                 <a href="#" on-click="nextPage">Next</a>
    //             </li>
    //         </ul>
    //         {{/if}}
    //     </div>
    // </div>
    </script>
{% endraw %}