{% raw %}
    <!-- <p>page new2.html snapped in</p> -->
    <script id='content-wrapper-resource-list-template2' type='text/html'>
    
    // <div class="row">
    //     {{#if resources.length > 1}}
    //     <div class="panel-footer clearfix">
    //         <div class="input-group">
    //             <input type="text" placeholder="Search message .." class="form-control input-sm" value={{ query }}>
    //             <span class="input-group-btn">
    //                 <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i></button>
    //             </span>
    //         </div>
    //     </div>
    //     {{/if}}
    // </div>
    // <div class="row">
    //     <div class="col-xs-4 list-create-item">
    //         {{#if context == 'manager' }}
    //             <a class="btn btn-info btn-lg" href="{{ endpoint }}/new" role="button">New</a>
    //         {{/if }}
    //     </div>
    // </div>
    // <div class="row">
    //     {{#resources }}
    //         {{#if filter(.) }}
    //             {{>partial }}
    //         {{/if }}
    //     {{/resources }}
    // </div>
    // <div class="row">
    //     <div class="col-xs-4 default-in-row-padding">
    //         <div class="pull-left">
    //             Showing {{ fromItem(pages) }} to {{ toItem(pages) }} of {{ pages.count }} entries
    //             {{#if display_show_all }}
    //             (<a href="#" on-click="show-all">Show All</a>)
    //             {{/if }}
    //         </div>
    //     </div>
    //     <div class="col-xs-4 list-pagination-wrapper">
    //         {{#if pages.pages > 1}}
    //         <ul class="pagination">
    //             <li id="datatable1_previous" tabindex="0"
    //                 class="paginate_button previous {{#if !previous(pages) }} disabled {{/if}}">
    //                 <a href="#" on-click="previousPage">Previous</a>
    //             </li>
    //             {{#each pagination(pages)}}
    //             <li tabindex="0" aria-controls="datatable1"
    //                 class="paginate_button {{#if .active }}active{{/if}}">
    //                 <a href="#" on-click="gotoPage:{{.nr}}">{{.nr}}</a>
    //             </li>
    //             {{/each}}
    //             <li id="datatable1_next" tabindex="0" aria-controls="datatable1"
    //                 class="paginate_button next {{#if !next(pages) }} disabled {{/if}}">
    //                 <a href="#" on-click="nextPage">Next</a>
    //             </li>
    //         </ul>
    //         {{/if}}
    //     </div>
    // </div>
    </script>
{% endraw %}