.icon-large {
    font-size: 5em;
}

.none-resizable {
    resize: none;
}

.table-selectable-gray {
    width: 100%;
}

.table-selectable-gray tr > th:first-child {
    padding: 0px 20px 0px 20px;
    width: 55px;
}

.table-selectable-gray tr > td:first-child {
    padding: 5px 20px 5px 20px;
}

.table-selectable-gray tr p {
    padding: 0px 20px 0px 0px;
    margin: 0px;
}

#table-projects-segments tr:hover {
  background-color: #dde6e9;
  color: #515253;
}

.left-boarder-thick-success {
    border-left: 4px solid #27c24c;
}

.left-boarder-thick-danger {
    border-left: 4px solid #f05050;
}

.left-boarder {
    border-left: 1px solid lightgrey;
    padding-left: 20px;
    min-height: 75vh;
}

.nopadding {
    margin: 0;
    padding: 0;
}

.default-in-row-padding {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.list-create-item {
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.list-pagination {
    display: inline-block;
}
.list-pagination-wrapper {
  text-align: center;
}

.input-group-addon-lg {
    min-width: 100px;
    font-size: 1.2em;
}


.btn-half-block {
  display: block;
  width: 75%;
  margin-top: 5px;
}

.text-success-important {
    color: #27c24c !important;
}

.text-warning-important {
  color: #ff902b !important;
}

.text-danger-important {
  color: #f05050 !important;
}

.text-dark-important {
    color: #3a3f51 !important;
}

.header-collapsable a {
    padding: 15px;
    text-decoration: none;
}

.header-collapsable span {
    color: #3a3f51;
}

.full-width {
    width: 100%;
}

.text-block {
    line-height: 1.52857143;
}

.truncate {
  width: 20vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.borderless td, .borderless th {
    border: none !important;
}


.diffIt-added {
  color: #23b7e5;
}
.diffIt-removed {
  color: #f05050;
}
.translation-diff .diffIt-added {
  display: none;
}
.correction-diff .diffIt-removed {
  display: none;
}


/* change cursor for disabled */
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: default;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: default;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: default;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: default;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: default;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
   cursor: default;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
   cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
   cursor: default;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
   cursor: default;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
   cursor: default;
}
/* end change cursor for disabled */
