{% block doc -%}
<html lang="en" class="">
{%- block html %}
<head>
    {%- block head %}
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + jQuery">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>{% block title %}{% endblock title %} | AccentPharm</title>
   <!-- =============== VENDOR STYLES ===============-->
   <!-- FONT AWESOME-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <!-- SIMPLE LINE ICONS-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">
   <!-- ANIMATE.CSS-->
   <link rel="stylesheet" href="/static/vendor/animate.css/animate.min.css">
   <!-- WHIRL (spinners)-->
   <link rel="stylesheet" href="/static/vendor/whirl/dist/whirl.css">
   <!-- =============== PAGE VENDOR STYLES ===============-->
   <!-- =============== BOOTSTRAP STYLES ===============-->
   <link rel="stylesheet" href="/static/css/bootstrap.css" id="bscss">
   <!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="/static/css/app.css" id="maincss">
    {%- endblock head %}
</head>

<body class="aside-collapsed">
   <div class="wrapper">
      <!-- top navbar-->
        {% block navbar %}
        {%- endblock navbar %}
         <!-- END Top Navbar-->
      <!-- sidebar-->
      {% block content -%}
            <!-- <div role="alert" class="alert alert-danger hidden">
                <strong>Oh snap!</strong>
                Unexpected error occurred on server side. Please contact: marcin.dziedzic@pragmaticcoders.com
            </div>

            <div role="alert" class="alert alert-success hidden">
                <strong>Well done!</strong>
                Your project has been successfully saved.
            </div> -->

        {%- endblock content %}
      <!-- Page footer-->
      <footer>
        {% block footerheader %}
        {% endblock footerheader %}
      </footer>
      
   </div>
   {% block scripts %}
        <!-- =============== VENDOR SCRIPTS ===============-->
        <!-- JWPLAYER -->
        <script src="//content.jwplatform.com/players/6gw1oQLu-03q5bzuT.js"></script>
        <!-- MODERNIZR-->
        <script src="/static/vendor/modernizr/modernizr.custom.js"></script>
        <!-- JQUERY-->
        <script src="/static/vendor/jquery/dist/jquery.js"></script>
        <!-- BOOTSTRAP-->
        <script src="/static/vendor/bootstrap/dist/js/bootstrap.js"></script>
        <!-- STORAGE API-->
        <script src="/static/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
        <!-- PARSLEY-->
        <script src="/static/vendor/parsleyjs/dist/parsley.min.js"></script>
        <script src="/static/vendor/lodash/lodash.min.js"></script>
    {%- endblock scripts %}

</body>
{%- endblock html %}
</html>
{% endblock doc -%}