{% extends 'base.html' %}

{% block title %}Tv Page{% endblock title %}
{% block scripts %}
    {{ super() }}
    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MATCHMEDIA POLYFILL-->
    <script src="/static/vendor/matchMedia/matchMedia.js"></script>
    <!-- JQUERY EASING-->
    <script src="/static/vendor/jquery.easing/js/jquery.easing.js"></script>
    <!-- ANIMO-->
    <script src="/static/vendor/animo.js/animo.js"></script>
    <!-- SLIMSCROLL-->
    <script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- SCREENFULL-->
    <script src="/static/vendor/screenfull/dist/screenfull.js"></script>
    <!-- LOCALIZE-->
    <script src="/static/vendor/jquery-localize-i18n/dist/jquery.localize.js"></script>
    <!-- PERSIST JS -->
    <script src="/static/vendor/persist-js/persist-all-min.js"></script>

    <!-- DASHBOARD SCRIPTS -->
    <!-- Page.js -->
    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
    <!-- Ractive JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/ractive/0.7.3/ractive.min.js'></script>
    <!-- SELECTIZE -->
    <script src="/static/vendor/selectize/selectize.js"></script>
    <!-- SWEET ALERT-->
    <script src="/static/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <!-- BOOTSTRAP SLIDER -->
    <script src="/static/vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <!-- SLIMSCROLL -->
    <script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- MOMENTJS -->
    <script src="/static/vendor/moment/min/moment-with-locales.min.js"></script>
    <!-- JSDIFF -->
    <script src="/static/vendor/jsdiff/diff.js"></script>

    <!-- =============== APP SCRIPTS ===============-->
    <script src="/static/js/all.js"></script>
    <script src="/static/js/app.js"></script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <!-- ANIMATE.CSS-->
    <link rel="stylesheet" href="/static/vendor/animate.css/animate.min.css">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="/static/vendor/whirl/dist/whirl.css">
    <!-- SELECTIZE -->
    <link rel="stylesheet" href="/static/vendor/selectize/selectize.bootstrap3.css">
    <!-- SWEET ALERT-->
    <link rel="stylesheet" href="/static/vendor/sweetalert/dist/sweetalert.css">
    <!-- BOOTSTRAP SLIDER -->
    <link rel="stylesheet" href="/static/vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/app.css">
{% endblock %}
{% block navbar %}
    <!-- top navbar-->
    <header class="topnavbar-wrapper">
        <!-- START Top Navbar-->
        <nav role="navigation" class="navbar topnavbar">
            <!-- START Nav wrapper-->
            <div class="nav-wrapper">

                <!-- START Left navbar-->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                </ul>
                <!-- END Left navbar-->
                <!-- START Right Navbar-->
                <ul class="nav navbar-nav navbar-right">
                    <!-- Fullscreen (only desktops)-->
                    <li class="visible-lg">
                        <a href="#" data-toggle-fullscreen="">
                            <em class="fa fa-expand"></em>
                        </a>
                    </li>
                    <li><a href="/logout"><em class="icon-logout"></em></a></li>
                </ul>
                <!-- END Right Navbar-->
            </div>
            <!-- END Nav wrapper-->
        </nav>
        <!-- END Top Navbar-->
    </header>
{% endblock %}
{% block content %}
    <!-- Main section-->
        {{ super() }}
        <!-- <div class="content-wrapper"></div> -->
        {% include 'ractivejs/templates/new.html' %}
        {% include 'ractivejs/templates/new2.html' %}
{% endblock %}


{% block footerheader %}
         <nav role="navigation" class="navbar topnavbar">
            <!-- START navbar header-->
            <div class="navbar-header">
                <a href="#/" class="navbar-brand">
                    <div class="brand-logo">
                        <img src="/static/img/logo.svg" onerror="this.src='/static/img/logo.png';this.onerror=null;" alt="App Logo" class="img-responsive">
                    </div>
                    <div class="brand-logo-collapsed">
                        <img src="http://vignette4.wikia.nocookie.net/logopedia/images/f/f9/Canal_hd.png/revision/latest?cb=20111122151715" onerror="this.src='/static/img/logo-single.png';this.onerror=null;" alt="App Logo" class="img-responsive">
                    </div>
                </a>
            </div>
            <div class="navbar-header">
                <a href="#/" class="navbar-brand">
                    <div class="brand-logo">
                        <img src="/static/img/logo.svg" onerror="this.src='/static/img/logo.png';this.onerror=null;" alt="App Logo" class="img-responsive">
                    </div>
                    <div class="brand-logo-collapsed">
                        <img src="http://www.sheslouin.fr:8080/maps/content/pics/television_icon-300x300.png" onerror="this.src='/static/img/logo-single.png';this.onerror=null;" alt="App Logo" class="img-responsive">
                    </div>
                </a>
            </div>
            <div class="navbar-header">
                <a href="#/" class="navbar-brand">
                    <div class="brand-logo">
                        <img src="/static/img/logo.svg" onerror="this.src='/static/img/logo.png';this.onerror=null;" alt="App Logo" class="img-responsive">
                    </div>
                    <div class="brand-logo-collapsed">
                        <img src="http://www.sheslouin.fr:8080/maps/content/pics/television_icon-300x300.png" onerror="this.src='/static/img/logo-single.png';this.onerror=null;" alt="App Logo" class="img-responsive">
                    </div>
                </a>
            </div>
            <!-- END navbar header-->
            <!-- START Nav wrapper-->
            <div class="nav-wrapper">

                <!-- START Left navbar-->
               <!--  <ul class="nav navbar-nav">
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                </ul> -->
                <!-- END Left navbar-->
                <!-- START Right Navbar-->
                <!-- <ul class="nav navbar-nav navbar-right">
                
                    <li class="visible-lg">
                        <a href="#" data-toggle-fullscreen="">
                            <em class="fa fa-expand"></em>
                        </a>
                    </li>
                    <li><a href="/logout"><em class="icon-logout"></em></a></li>
                </ul> -->
                <!-- END Right Navbar-->
            </div>
            <!-- END Nav wrapper-->
        </nav>
{% endblock footerheader %}